.card {
    background-color: rgb(207, 197, 197);
    border-radius: 10px;
    height: 27vh;
    width: 20vw;
    border: 2px black solid;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

h3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
}

.categoryImg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
}

.centerImg {
    display: flex;
    align-items: center;
    justify-content: center;
}